{% load staticfiles %}

/* 
 * 
 * Personal CSS markup by Sebastian Tauch
 * 
 */

body {
    background-color: #fefefe;
}

/* Space at the beginning of the page */
.hspace
{
	height: 20px;
	background-color: #fdfdfd;
}

.soldiers
{
	position: relative;
	float: left;
	width: 600px;
	padding: 10px;
}
